.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 0.5vmin);
}

.App-link {
  color: #61dafb;
}
